<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2013/05/nuspec.xsd">
  <metadata>
    <id>{NUGET_ID}</id>
    <version>{VERSION}</version>
    <authors>{AUTHORS}</authors>
    <owners>{AUTHORS}</owners>
    <projectUrl>https://github.com/guojin-yan/OpenVINO-CSharp-API</projectUrl>
    <icon>logo.jpg</icon>
    <readme>README.md</readme>
    <license type="file">LICENSE.txt</license>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <description>Native OpenVINO {VERSION} runtime libraries for {PLATFORM_LABEL}. Bundled from the upstream Intel release at storage.openvinotoolkit.org. Companion native package to JYPPX.OpenVINO.CSharp.API.</description>
    <summary>OpenVINO {VERSION} native runtime for {PLATFORM_LABEL}.</summary>
    <releaseNotes>Packaged from openvino_toolkit {VERSION} archive: {ARCHIVE_URL}</releaseNotes>
    <tags>OpenVINO native runtime {PLATFORM_LABEL} DeepLearning AI Inference</tags>
    <repository type="git" url="https://github.com/guojin-yan/OpenVINO-CSharp-API" />
  </metadata>
  <files>
    <file src="runtimes/**" target="runtimes" />
    <file src="build/**" target="build" />
    <file src="LICENSE.txt" target="" />
    <file src="logo.jpg" target="" />
    <file src="README.md" target="" />
  </files>
</package>
